{
    "extends": "stylelint-config-standard",
    "rules": {
      "at-rule-name-space-after": null,
      "at-rule-empty-line-before": null,
      "declaration-block-trailing-semicolon": null,
      "rule-empty-line-before": null
    }
}
